{
	"root": true,
	"env": {
		"es2020": true,
		"node": true
	},
	// ===========================================
	// Set up ESLint for .js / .jsx files
	// ===========================================
	"extends": [
		"eslint:recommended",
		// Disable rules that conflict with Prettier
		// Prettier must be last to override other configs
		"prettier"
	]
}
